<header class="p-4 text-center flex-center bg-primary text-white">
        <h1>CENTRO MÉDICO SALUD Y VIDA</h1>
    </header>

    <main class="p-3">
        <table class="table table-striped text-center">
            <h2 class="text-center">LISTADO DE MÉDICOS</h2>
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Número de Cédula</th>
                    <th>Número de consultorio</th>
                    <th>Telefono</th>
                    <th>Correo Electrónico</th>
                    <th>Especialidad</th>
                    <th>Más Opciones</th>
                </tr>
            </thead>

            <tbody id="cuerpo-tabla-medicos">
            <!-- Se agrega el contenido dinamicamente por medio de Handlebars -->
            {{#each resultado}}
            <tr>
                <form action="/actualizar-medicos/{{cedula}}" method="post">
                    <td><input type="text" name="nombres" id="nombre" value="{{nombre}}" {{../opcion}}></td>
                    <td><input type="text" name="apellidos" id="apellido" value="{{apellido}}" {{../opcion}}></td>
                    <td><input type="text" name="cedula" id="cedula" value="{{cedula}}" {{../opcion}}></td>
                    <td><input type="text" name="consultorio" id="consultorio" value="{{consultorio}}" {{../opcion}}></td>
                    <td><input type="number" name="telefono" id="telefono" value="{{telefono}}" {{../opcion}}></td>
                    <td><input type="email" name="correo" id="correo" value="{{correo}}" {{../opcion}}></td>
                    <td><input type="text" name="especialidad" id="especialidad" value="{{especialidad}}" {{../opcion}}></td>
                    <td>
                            {{#if ../estado}}
                                <a href="/activar-medicos" role="button" class="btn btn-primary">Modificar</a>
                                <a href="/eliminar-medicos/{{cedula}}" role="button" class="btn btn-danger">Eliminar</a></td>
                            {{else}}
                                <input type="submit" value="Enviar"  class="btn btn-success">
                            {{/if}}
            </tr>
                </form>
            {{/each}}
            </tbody>
        </table>
    </main>
    
    <div class="text-center text-center d-grid gap-2 p-3">
        <a href="../index.html" role="button" class="btn btn-warning">Volver</a>
    </div>
    <footer>
        <div class="d-flex justify-content-center">
            <p>Made by: brianfriosr</p>
        </div>
    </footer>