<header class="p-4 text-center flex-center bg-primary text-white">
        <h1>CENTRO MÉDICO SALUD Y VIDA</h1>
    </header>

    <main class="p-3">
        <table class="table table-striped text-center">
            <h2 class="text-center">LISTADO DE PACIENTES</h2>
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Número de Cédula</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Telefono</th>
                    <th>Mas Opciones</th>
                </tr>
            </thead>

            <tbody id="cuerpo-tabla-pacientes">
                {{#each resultado}}
                <tr scope = "row">
                    <form action="/actualizar/{{cedula}}" method="post">
                        <td><input type="text" name="nombres" id="nombre" value="{{nombre}}" {{../opcion}}></td>
                        <td><input type="text" name="apellidos" id="apellido" value="{{apellido}}" {{../opcion}}></td>
                        <td><input type="text" name="cedula" id="cedula" value="{{cedula}}" {{../opcion}}></td>
                        <td><input type="date" name="fecha_nacimiento" id="fecha_nacimiento" value="{{formatoFecha fecha_nacimiento}}" {{../opcion}}></td>
                        <td><input type="number" name="telefono" id="telefono" value="{{telefono}}" {{../opcion}}></td>
                        <td>
                            {{#if ../estado}}
                                <a href="/activar" role="button" class="btn btn-primary">Modificar</a>
                                <a href="/eliminar/{{cedula}}" role="button" class="btn btn-danger">Eliminar</a></td>
                            {{else}}
                                <input type="submit" value="Enviar"  class="btn btn-success">
                            {{/if}}
                    </form>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </main>
    
    <div class="text-center text-center d-grid gap-2 p-3">
        <a href="../index.html" role="button" class="btn btn-warning">Volver</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <footer>
        <div class="d-flex justify-content-center">
            <p>Made by: brianfriosr</p>
        </div>
    </footer>